[Desktop Entry]
Name=st
Comment=st is a simple virtual terminal emulator for X which sucks less
Exec=st
Terminal=false
Type=Application
Icon=utilities-terminal
Categories=System;TerminalEmulator;
StartupWMClass=st-256color
